@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background-light dark:bg-background-dark text-text-main-light dark:text-text-main-dark;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Material Icons */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');